<header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">Daniel Limas</a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#Bio">Bio</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#Skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#Proyectos">My Project</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
    <div>
      <div class="demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
          <div class="profile-page">
            <div class="wrapper">
              <div class="page-header page-header-small" filter-color="green">
                <div class="container">
                  <div class="content-center">
                    <div class="cc-profile-image"><a href="#"><img src="images/danyl2.PNG" alt="Danyl dud"/></a></div>
                    <div class="h2 title">Daniel Limas</div>
                    <p class="category text-white">Full Stack Overflow Dev and Multivac Engineer</p><a class="btn btn-primary smooth-scroll mr-2" href="https://github.com/DanielLimasP?tab=repositories" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Github</a>
                  </div>
                </div>
                <div class="section">
                  <div class="container">
                      <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
				</div>
			</div>
		</div>
<div class="section" id="Bio">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Bio</div>
            <p>Hi, my name is Daniel Limas and I am a student at the Computer Systems Engineering degree</p>
            <p>
              First of all... Sorry for the poor performance of the page. Bunch of processes running in the background, 
              free hosting and a boatload of libraries doesn't help. With that out of the way... I love learning new 
              stuff, programming, videogames, playing the guitar, good music and friends... I'm a Javascript programmer, 
              mainly speaking. I ABSOLUTELY LOVE p5.js, Processing and Node.js, and the core concept behind the former two.
              Additionally I play the guitar and consider myself an enthusiast of Math and Computers. I like Sports,
              though not as much as the guy next to me. I like reading, books, comics and what not.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Info</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">22</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">amedlimas97@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">College:</strong></div>
              <div class="col-sm-8">Instituto tecnológico de Chihuahua II</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Languages:</strong></div>
              <div class="col-sm-8">English and Spanish</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="Skills">
  <div class="container">
    <div class="h4 text-center mb-4 title">Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Programming</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 86%;"></div><span class="progress-value">86%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Design</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 52%;"></div><span class="progress-value">52%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">JavaScript</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 83%;"></div><span class="progress-value">83%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Python</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div><span class="progress-value">85%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Soft Skills</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Node.js</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="Proyectos">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">A few sketches I've done in the past...</div>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect">
                      <br>
                    <h2>A* Path Finding</h2>
                    <iframe src="sketches/sketch_51_1_Astar/index.html" width="350px" height="600px"></iframe>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect">
                       <br>
                    <h2>Maze Generator</h2>
                    <iframe src="sketches/sketch_10_1_Maze_generator/index.html" width="350px" height="400px"></iframe>
                  </figure></a></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect">
                       <br>
                    <h2>Travelling Salesman Algorithm</h2>
                    <iframe src="sketches/sketch_35_1_TravellingSalesperson/index.html" width="350px" height="600px"></iframe>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect">
                       <br>
                    <h2>Double Pendulum</h2>
                    <iframe src="sketches/sketch_93_DoublePendulum/index.html" width="350px" height="400px"></iframe>
                  </figure></a></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect">
                       <br>
                    <h2>Dynamic animated Header</h2>
                    <iframe src="sketches/sketch_awesomeHeader/html/js_intro.html" width="350px" height="600px"></iframe>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect">
                       <br>
                    <h2>CubeWave Animation</h2>
                    <iframe src="sketches/sketch_86_CubeWave/index.html" width="350px" height="400px"></iframe>
                  </figure></a></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect">
                       <br>
                    <h2>Matrix Falling Letters</h2>
                    <iframe src="sketches/sketch_T_Matrix/index.html" width="350px" height="600px"></iframe>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect">
                       <br>
                    <h2>Simple Spirograph</h2>
                    <iframe src="sketches/sketch_P_spiroGraph/index.html" width="350px" height="400px"></iframe>
                  </figure></a></div>
                  <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
    </div>